/* // <weight>: Use a value from 100 to 900 */
/* // <uniquifier>: Use a unique and descriptive class name */
/* .inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} */

/* / <weight>: Use a value from 100 to 900 */
/* // <uniquifier>: Use a unique and descriptive class name */
/* .montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} */

/* ============================== */
/* ============================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Montserrat", sans-serif; */
    font-family: "Arial", sans-serif;
}

body {
    margin-bottom: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

/* common paragraph style starts ===*/
#header header nav ul li a {
    font-size: 16px;
    color: #fff;
}

.d-none {
    display: none !important;
}

/* common paragraph style ends ===*/
/* ============================== */
/* header starts ================ */
#header {
    background-color: #22013b;
}

#header header .logo h2 {
    font-size: 35px;
    cursor: pointer;
    color: #fff;
}

#header header .logo h2 span {
    background: linear-gradient(90deg, #f9d423, #ff4e50, #8e2de2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header header {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid yellow;
}


#header header nav {}

#header header nav ul {
    display: flex;
    list-style-type: none;
    gap: 32px;
}

#header header nav ul li {}

#header header nav ul li a {
    text-decoration: none;
    font-weight: 600;
}

#header header .header-button button {
    background: linear-gradient(90deg, #f9d423, #ff4e50, #8e2de2);
    color: #ffffff;
    border: none;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s ease;
}

#header header .header-button button:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, #8e2de2, #ff4e50, #f9d423);
    transition: 0.3s ease;
}

#header header .header-button button .icon {
    font-size: 24px;
}

.menubar-icon {
    display: none;
}

/* header ends ====================== */
/* ================================== */
/* banner starts===================== */
.banner-cover {
    background-color: #180c32;
}

#banner {
    position: relative;
}

#banner .banner-image {
    width: 100%;
}

#banner .banner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#banner .banner-container .mic-image {
    width: 100%;
    position: relative;
    max-width: 350px;
    margin: 0 auto;
}

#banner .banner-container .mic-image .big-image {
    width: 100%;
    display: block;
    margin: 0 auto;
}

#banner .banner-container .mic-image .tooltip {
    background-color: #01ff87;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 20px;
    color: #000;
    font-weight: 700;
    position: absolute;
    top: 10%;
    left: 75%;
    transform: translate(-50%, -50%);
}

#banner .banner-container .mic-image .small-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

#banner .banner-container .mic-text {
    text-align: center;
    margin-top: 40px;
}

#banner .banner-container .mic-text h2 {
    font-size: 32px;
    color: #fff;
}

#banner .banner-container .mic-text p {
    margin-top: 20px;
    font-size: .8em;
    color: #fff;
    line-height: 1.6;
}

#banner .banner-container .mic-text .btn-group {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#banner .banner-container .mic-text .btn-1 {
    background: linear-gradient(90deg, #f9d423, #ff4e50, #8e2de2);
    color: #ffffff;
    border: 1px solid transparent;
    padding: 10px 15px;
    font-size: 1em;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 50px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s ease;
    margin-right: 5px;
}

#banner .banner-container .mic-text .btn-1:hover {
    color: #01ff87;
    border: 1px solid #01ff87;
    background: transparent;
}

#banner .banner-container .mic-text .btn-2 {
    color: #01ff87;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    font-weight: 600;
    white-space: nowrap;
    border: 1px solid #01ff87;
    border-radius: 50px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s ease-out;
    background-color: transparent;
}

#banner .banner-container .mic-text .btn-2:hover {
    background: linear-gradient(90deg, #f9d423, #ff4e50, #8e2de2);
    color: #ffffff;
    border: 1px solid transparent;
}

/* banner ends ====================== */
/* ================================== */
/* about starts ===================== */
#about {
    background-color: #22013b;
    padding-top: 50px;
    padding-bottom: 80px;
}

#about .about-container {
    max-width: 1200px;
    margin: 0 auto;
}

#about .about-container .about-text {
    text-align: center;
}

#about .about-container .about-text h2 {
    color: #fff;
    font-size: 32px;
}

#about .about-container .about-text {}

#about .about-container .about-text .about-p-top {
    padding-top: 15px;
    padding-bottom: 30px;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    width: 50%;
    margin: 0 auto;
}

#about .about-container .about-text .about-p-bottom {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    width: 50%;
    margin: 0 auto;
}

#about .about-container .review {
    border-top: 1px solid rgb(93, 92, 92);
    padding-top: 40px;
    margin-top: 40px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
}

#about .about-container .review .count {
    text-align: center;
    margin-top: 30px;
}

#about .about-container .review .count h3 {
    color: #01ff87;
    font-size: 36px;
    font-weight: 700;
}

#about .about-container .review .count p {
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    padding-top: 20px;
}

/* about ends ====================== */
/* ================================= */
/* choose starts ==================== */
#choose {
    /* border: 1px solid gray; */
    background-color: #230e3d;
    padding-top: 100px;
    padding-bottom: 50px;
    color: #fff;
}

#choose .choose-container {
    max-width: 1200px;
    margin: 0 auto;
}

#choose .choose-container h2 {
    color: #fff;
    font-size: 32px;
    text-align: center;
    padding-bottom: 40px;
}

#choose .choose-container .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

#choose .choose-container .choose-box {
    background: #3a1661;
    padding: 30px;
    border-radius: 20px;
}

#choose .choose-container .choose-box i {
    font-size: 60px;
    background: linear-gradient(90deg, #f9d423, #ff4e50, #8e2de2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}

/* grid */
#choose .choose-container .grid-wrapper .box-1 {
    grid-row: span 2;
}

#choose .choose-container .grid-wrapper .box-2,
#choose .choose-container .grid-wrapper .box-3,
#choose .choose-container .grid-wrapper .box-4 {
    grid-column: span 2;
}


#choose .choose-container .grid-wrapper .box-5 {}

#choose .choose-container .choose-box h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

#choose .choose-container .choose-box p {
    font-size: 16px;
    line-height: 24px;
    color: lightgray;
}

/* choose ends ====================== */
/*==============================================*/
/* feature starts =================== */
#feature {
    background-color: #1a0b2e;
    padding-top: 80px;
    padding-bottom: 80px;
}

#feature .feature-container h2 {
    color: #fff;
    font-size: 32px;
    text-align: center;
    padding-bottom: 40px;
}

#feature .feature-container {
    max-width: 1200px;
    margin: 0 auto;
}

#feature .feature-container .feature-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
}

#feature .feature-container .feature-grid .feature-card {
    /* border: 1px solid yellow; */
    border-radius: 20px;
    background: #3a1661;
}

#feature .feature-container .feature-grid .feature-card .text-wrap {
    padding: 24px;
}

#feature .feature-container .feature-grid .feature-card h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

#feature .feature-container .feature-grid .feature-card p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: lightgray;
}

#feature iframe {
    border-radius: 20px 20px 0 0;
}

#feature .feature-container .feature-grid .feature-card span {
    color: #01ff87;
    font-size: 12px;
}

#feature .feature-container .feature-grid .feature-card i {
    color: #01ff87;
    margin-right: 5px;
    font-size: 16px;
}

#feature .feature-container .feature-grid .video-part {
    position: relative;
}

/* feature starts =================== */
/* ============================================ */
/* meet starts ==================== */
#meet {
    background-color: #1a0b2e;
    padding-bottom: 100px;
}

#meet h2 {
    color: #fff;
    font-size: 32px;
    text-align: center;
    padding-bottom: 40px;
}

#meet .meet-container {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 20px;
    background: #3a1661;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#meet .meet-container .host img {
    width: 100%;
    max-width: 200px;
}

#meet .meet-container .box-1 {
    max-width: 200px;
}

#meet .meet-container .host-info h3 {
    font-size: 26px;
}

#meet .meet-container .host-info p {
    font-size: 16px;
    color: lightgray;
    line-height: 24px;
    margin-top: 20px;
}

#meet .meet-container .host-info ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

#meet .meet-container .host-info ul li {
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    line-height: 40px;
    border-radius: 50px;
    position: relative;
}

#meet .meet-container .host-info ul li:hover {
    background-color: #1a0b2e;
}

#meet .meet-container .host-info ul li a img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* meet ends ====================== */

/*==============================================*/
/*===========================*/
/* Responsive css starts */
/*===========================*/
/*==============================================*/

/* normal device  */
@media screen and (max-width:576px) {
    #header header .logo h2 {
        margin-left: 20px;
    }

    #header header .header-button button {
        display: none;
    }

    #header header .nav-container {
        display: none;
    }

    .menubar-icon {
        display: block;
    }

    .menubar-icon i {
        color: #fff;
        font-size: 30px;
        margin-right: 20px;
    }

    .banner-cover {
        padding-bottom: 170px;
    }

    #banner {
        background-size: contain !important;
        /* padding-top: 20px; */
    }

    #banner .banner-container {
        top: 80%;
    }

    #banner .banner-container .mic-image .big-image {
        width: 45%;
    }

    #banner .banner-container .mic-image .small-image {
        width: 20%;
    }

    #about .about-container .review {
        grid-template-columns: repeat(2, 1fr);
    }

    #about .about-container .about-text .about-p-top,
    #about .about-container .about-text .about-p-bottom {
        width: 80%;
    }

    #choose .choose-container .grid-wrapper {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }

    #choose .choose-container .grid-wrapper .box-1 {
        grid-row: span 1;
    }

    #choose .choose-container .grid-wrapper .box-2,
    #choose .choose-container .grid-wrapper .box-3,
    #choose .choose-container .grid-wrapper .box-4 {
        grid-column: span 1;
    }

    #feature .feature-container .feature-grid {
        grid-template-columns: 1fr;
    }

    #meet .meet-container .box-1 {
        margin-bottom: 20px;
    }

    #meet .meet-container {
        grid-template-columns: 1fr;
        text-align: center;
        justify-items: center;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    #meet .meet-container .host-info ul {
        justify-content: center;
    }



}